*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    background-image: url("aesthetic-anime-scenery-u9q6cmyl6eclnb62.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#loader h3 {
    display: flex;
    margin-top: 5px;
    gap: 5px;
    color: #fff;
    position: absolute;
    bottom: 0vw;
}
#loader h3 img {
    width: 50px;
    margin-top: -14px;
}
#main-box {
    width: 70%;
    height: 85%;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
}
#panel-top {
    height: 70px;
    width: 100%;
    background-color: rgba(197, 243, 11, 0.527);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#panel-top>h2 {
    color: #000000;
    font-size: 25px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.number,
.timer,
.score {
    color:rgb(4, 87, 76);
    height: 35px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
    border-radius: 10px;
    font-size:1.vw;
    font-weight: 600;
    border: 1px solid black;
    box-shadow: inset 2px 2px 10px #1b1b1b4a,
    inset -2px -2px 10px #1b1b1b4a;
}
#panel-bottom {
    background-color: #ffffff47;
    backdrop-filter: blur(10px);
    height: calc(100% - 70px);
    width: 100%;
    padding:  15px 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
}
#panel-bottom>h1{
    font-size: 10vw;
    background-image: url("blue-luxury-gradient-background-gold-modern-vector-47405255.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(8px 6px 4px #3d3d3d);
    animation: zoomin 0.8s linear 1;
}
@keyframes zoomin {
    from{
        font-size: 0vw;
        opacity: 0;
    }
    to{
        font-size: 10vw;
    }
}
#panel-bottom .bubble {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: linear-gradient(to bottom right,red,orange,yellow);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
}
#panel-bottom .bubble:active{
    box-shadow: inset 3px 3px 10px rgb(255, 255, 255),
    inset -3px -3px 10px rgb(46, 46, 46);
}
.reload {
    z-index: 99;
    position: absolute;
    right: 2vw;
    top: 5vh;
    width: 7vw;
    height: 5vh;
    font-size: 1.2vw;
    border: 1px solid #000;
    border-radius:10px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    background-color: #ffffff4a;
    backdrop-filter: blur(9px);
}

/* loader animation */
@font-face {
    font-family: Game;
    src: url("the-grinch-font/TheGrinch-DYWWd.otf");
}
@font-face {
    font-family: Game_start;
    src: url("pacfont/PAC-FONT.TTF");
}
#loader-template {
    background-image: url("Bubble art lockscreen.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-position: center;
    position: fixed;
    z-index: 999;
    top: 0%;
    transition: all ease 0.5s;
}
#main #loader {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8d8b8b5a;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    position: relative;
}

@keyframes change {
    from{
        filter:hue-rotate(0deg);
    }
    to{
        filter:hue-rotate(600deg);
    }
}
#main #loader:hover{
    animation: change 10s linear infinite;
    box-shadow: 0px 0px 100px 40px rgba(0, 255, 255, 0.519);
    transition: all ease 1s;
}
.game-start{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.game-start h1 {
    font-size: 4.5vw;
    margin-bottom: 4vh;
    font-family: Game;
    -webkit-text-fill-color: yellow;
    font-weight: 500;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 2px;
}
.game-start h2 {
    font-size: 2.5vw;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.game-start h2 button {
    font-size: 1.8vw;
    width: 30vw;
    height: 6vh;
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    filter: drop-shadow(1px 1px 10px black);
    text-transform: uppercase;
    font-weight: 600;
    font-family: Game_start;
    letter-spacing: 0.5vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 2px;
    position: absolute;
    bottom: 4vw;
    left: 50%;
    transform: translateX(-50%);
}
.game-start button:hover {
    animation: colorchange 7s linear infinite;
    animation-delay: 0.2s;
}
@keyframes colorchange {
    0%{
        filter: hue-rotate(10deg);
    }
    50%{
        filter: hue-rotate(500deg);
    }
    100%{
        filter: hue-rotate(10deg);
    }
}

/* breakpoint */
@media (max-width:1140px) {
    .reload {
    z-index: 99;
    position: absolute;
    right: 2vw;
    top: 2vh;
    width: 15vw;
    height: 4vh;
    font-size: 2vw;
    border: 1px solid #000;
    border-radius:10px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    background-color: #ffffff4a;
    backdrop-filter: blur(9px);
}
}

@media (max-width:600px) {
    #main-box{
        height: 90%;
        width: 90%;
    }
    #panel-top{
        height: 30px;
        justify-content: space-around;
    }
    #panel-top>h2{
        gap: 2px;
        font-size: smaller;
    }
    .number,
    .timer,
    .score{
        width: 40px;
        height: 20px;
        font-size: 2.2vw;
        display: flex;
        align-items: center;
    }
    #panel-bottom{
        padding: 9px 5px;
        height: calc(100% - 30px);
    }
    #panel-bottom .bubble{
        font-size: 4vw;
        height: 30px;
        width: 30px;
    }
    #loader-template>#loader {
        height: 40%;
    }
    .game-start>h1 {
        font-size: 5vw;
        -webkit-text-stroke-width: 0px;
    }
    .game-start>h2 {
        font-size: 3vw;
        color: #fff;
        padding-bottom: 20px;
    }
    #loader h3 {
    display: flex;
    margin-top: 5px;
    gap: 0px;
    color: #fff;
    position: absolute;
    bottom: 3vh;
    font-size: 3vw;
}
#loader h3 img {
    width: 30px;
    margin-top: -9px;
    margin-left: -1px;
}
.game-start h2 button {
    bottom: 8vh;
    width: 90%;
}
.reload {
    z-index: 99;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0.5vh;
    width: 55vw;
    height: 4vh;
    font-size: 3vw;
    letter-spacing: 1.2vw;
    border: 1px solid #000;
    border-radius:10px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    background-color: #ffffff4a;
    backdrop-filter: blur(9px);
}
}