/* TODO: fonts */
@import url('https://fonts.googleapis.com/css2?family=Festive&family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Festive&family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Festive&family=MedievalSharp&family=Rampart+One&display=swap');
@font-face {
    font-family: Game;
    src: url("the-grinch-font/TheGrinch-DYWWd.otf");
}
@font-face {
    font-family: Game_start;
    src: url("pacfont/PAC-FONT.TTF");
}
/* TODO: styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
/*TODO: custome theme */
body[theme="blue"] #panel-bottom .bubble{
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color:#fff;
}
body[theme="blue"] #main{
    background-image: url("photo-1711409496386-ad2c5946ac7f.avif");
}
body[theme="blue"] #panel-top{
    background-color: rgba(197, 243, 11, 0.527);
}
body[theme="pink"] #panel-bottom .bubble{
    background-image: linear-gradient(to right top, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
    color:#000;
}
body[theme="pink"] #main{
    background-image: url("milkiway.webp");
}
body[theme="pink"] #panel-top{
    background-color: rgba(234, 1, 255, 0.527);
}
body[theme="cyan"] #panel-bottom .bubble{
    background-image: linear-gradient(to right top, #845EC2, #00eaff, #00ffd9);
    color:#000;
}
body[theme="cyan"] #main{
    background-image: url("senior.webp");
}
body[theme="cyan"] #panel-top{
    background-color: rgba(0, 255, 234, 0.527);
}
body[theme="lightcyan"] #panel-bottom .bubble{
    background-image: linear-gradient(to right top, #00C9A7, #C4FCEF, #4cc9b0);
    color:#000;
}
body[theme="lightcyan"] #main{
    background-image: ulr("river.webp");
}
body[theme="lightcyan"] #panel-top{
    background-color: rgba(0, 255, 200, 0.527);
}
body[theme="brown"] #panel-bottom .bubble{
    background-image: linear-gradient(to right top, #845EC2, #4b4453c4, #c34b36be, #ff8066b5);
    color:#fff;
}
body[theme="brown"] #main{
    background-image: url("bridge.webp");
}
body[theme="brown"] #panel-top{
    background-color: rgba(145, 86, 23, 0.527);
}
body[theme="seagreen"] #panel-bottom .bubble{
    background-image: linear-gradient(to right top, #845EC2, #4FFBDF, #00C2A8, #008B74);
    color:#000;
}
body[theme="seagreen"] #main{
    background-image: url("bird.webp");
}
body[theme="seagreen"] #panel-top{
    background-color: rgba(0, 102, 255, 0.527);
}
body[theme="darksea"] #panel-bottom .bubble{
    background-image: linear-gradient(to right top, #845EC2, #706082, #008970af, #00C0A3);
    color:#fff;
}
body[theme="darksea"] #main{
    background-image: url("anime.webp");
}
body[theme="darksea"] #panel-top{
    background-color: rgba(120, 6, 213, 0.527);
}
body[theme="lightbrown"] #panel-bottom .bubble{
    background-image: linear-gradient(to right top, #845EC2, #B0A8B9, #C34A36, #BEA6A0);
    color:#fff;
}
body[theme="lightbrown"] #main{
    background-image: url("aot.webp");
}
body[theme="lightbrown"] #panel-top{
    background-color: rgba(255, 0, 76, 0.527);
}
body[theme="deepsea"] #panel-bottom .bubble{
    background-image: linear-gradient(to right top, #845EC2, #009EFA, #00D2FC, #4FFBDF);
    color:#000;
}
body[theme="deepsea"] #main{
    background-image: url("gojo.webp");
}
body[theme="deepsea"] #panel-top{
    background-color: rgba(0, 255, 200, 0.527);
}
body[theme="asian"] #panel-bottom .bubble{
    background-image: linear-gradient(to right top, #FF8066, #845EC2);
    color:#000;
}
body[theme="asian"] #main{
    background-image: url("nightSky.webp");
}
body[theme="asian"] #panel-top{
    background-color: rgba(250, 83, 49, 0.527);
}
body[theme="astricpink"] #panel-bottom .bubble{
    background-image: linear-gradient(to right top, #845EC2, #BE36B3, #D43725);
    color:#fff;
}
body[theme="astricpink"] #main{
    background-image: url("premium_photo-1661878091370-4ccb8763756a.avif");
}
body[theme="astricpink"] #panel-top{
    background-color: rgba(243, 11, 77, 0.527);
}
body[theme="lumines"] #panel-bottom .bubble{
    background-image: linear-gradient(to right top, #845EC2, #C493FF, #FEFEDF, #00C9A7);
    color:#000;
}
body[theme="lumines"] #main{
    background-image: url("tiger.webp");
}
 body[theme="lumines"] #panel-top{
    background-color: rgba(0, 255, 89, 0.527);
}
/* TODO: gaming pannel styling */
#main{
    background-image: url("photo-1711409496386-ad2c5946ac7f.avif");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* loader animation */
#setiing-div h3 {
    display: flex;
    gap: 5px;
    color: #fff;
    position: absolute;
    font-family: "Rampart One", sans-serif;
    font-size: 1.4vw;
    top: 10%;
    left: 7%;
    letter-spacing: 0.5vw;
}
/* TODO: setting icon */
#icon {
    width: 20px;
    height: 20px;
    color:#fff;
}
#main-box {
    width: 70%;
    height: 90%;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
}
#panel-top {
    height: 70px;
    width: 100%;
    background-color: rgba(197, 243, 11, 0.527);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#panel-top>h2 {
    color: #000000;
    font-size: 25px;
    display: flex;
    gap: 20px;
    align-items: center;
}
/* TODO: multi-selector */
.number,
.timer,
.score {
    color:rgb(4, 87, 76);
    height: 35px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
    border-radius: 10px;
    font-size:1.5vw;
    font-weight: 600;
    border: 1px solid black;
    box-shadow: inset 2px 2px 10px #1b1b1b4a,
    inset -2px -2px 10px #1b1b1b4a;
    transition: all 0.5 ease-out;
}
#panel-bottom {
    background-color: #ffffff47;
    backdrop-filter: blur(10px);
    height: calc(100% - 70px);
    width: 100%;
    padding:  17px 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
    overflow: hidden;
}
#panel-bottom>h1{
    font-size: 5vw;
    background-image: url("blue-luxury-gradient-background-gold-modern-vector-47405255.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(8px 6px 4px #3d3d3d);
    animation: zoomin 0.7s linear 1;
}
/* TODO: Animation */
@keyframes zoomin {
    from{
        font-size: 0vw;
        opacity: 0;
    }
    to{
        font-size: 5vw;
        opacity: 1;
    }
}
#game-head{
    position: relative;
    height: 10vw;
    width: 43vw;
    overflow: hidden;
}
/* TODO: bubble styling */
#panel-bottom .bubble {
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    font-size: 27px;
    font-weight: 700;
}
#hover:active {
    cursor: grabbing;
}
.reload {
    z-index: 99;
    position: absolute;
    right: 2vw;
    top: 5vh;
    width: 7vw;
    height: 5vh;
    font-size: 1.2vw;
    border: 1px solid #000;
    border-radius:10px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    background-color: #ffffff4a;
    backdrop-filter: blur(9px);
}


#loader-template {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-position: center;
    position: fixed;
    z-index: 9999;
    top: 0%;
    transition: all ease 0.5s;
}
#loader-back {
    background-image: linear-gradient(to right top, #d2e735, #dcde27, #e5d519, #eecc0c, #f6c203, #fab700, #fdac00, #ffa000, #ff9000, #ff8000, #ff6e00, #ff5a00);
    height: 100%;
    width: 100%;
    position: absolute;
    animation: gradient linear 20s infinite; 
}
@keyframes gradient {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

#main #loader {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: linear-gradient(to top right,#845ec2e7,#2c74d2de,#0080cfb9,#079ed4e0,#04adbdd3,#30a392e1);
    position: relative;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623), inset 10px 10px 25px rgb(255, 255, 255);
}
.game-start{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    position: relative;
}
.game-start h1 {
    font-size: 4.5vw;
    margin-bottom: 4vh;
    font-family: Game;
    -webkit-text-fill-color: #d5ff03;
    font-weight: 500;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 2px;
}
.game-start h2 {
    font-size: 2.5vw;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    font-family: "Cedarville Cursive", cursive;
}
#panel-error {
    background-color: #00eaff83;
    backdrop-filter: blur(1px);
    position: relative;
    width: 40vw;
    margin-bottom: 0.5vw;
    overflow: hidden;
    border-radius: 10px;
    top: -1%;
    padding: 0;
    display:none;
}
#panel-error>h2>img{
    height:1.8vw;
    animation: offon 0.2s linear infinite;
    margin-left: 1vw;
    margin-right: 1vw;
}
@keyframes offon {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#panel-error>h2 {
    color: #fff;
    animation: marquee 5s linear infinite;
    filter: drop-shadow(2px 2px 2px #000);
    font-family:fantasy;
    font-size: 1.9vw;
    font-weight: 100;
    letter-spacing: 0.3vw;
}
@keyframes marquee {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-80%);
    }
}
.game-start button {
    font-size: 2vw;
    width: 15vw;
    height: 6vh;
    background-color:rgb(7, 79, 103);
    text-transform: uppercase;
    font-weight: 600;
    font-family: "MedievalSharp", cursive;
    letter-spacing: 0.5vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.1px;
    position: absolute;
    bottom: 4vw;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-out;
    opacity: 0;
    scale:0;
}
.game-start button:hover {
    animation: colorchange 15s linear infinite;
    width: 25vw;
    letter-spacing: 2vw;
}
@keyframes colorchange {
    0%{
        filter: hue-rotate(10deg);
    }
    50%{
        filter: hue-rotate(500deg);
    }
    100%{
        filter: hue-rotate(10deg);
    }
}
#setting {
    position: absolute;
    top: 87%;
    right: 5%;
    font-size: 2.5vw;
    transition: all 0.5s ease-out;
    opacity: 0;
}
#setiing-div {
    background-color: #0000008c;
    height: 30vw;
    width: 40vw;
    position: absolute;
    z-index: 999;
    top: 50%;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    scale: 0;
    transition: scale 0.4s ease-out;
}
.overlay {
    position: fixed;
    height: 120vh;
    width: 120vw;
    background-color: rgba(191, 191, 191, 0.795);
    z-index: 999999;
    top: 0;
    left: 0;
    display: none;
    backdrop-filter: blur(15px);
    transform: translate(-25%, -15%);
}
/* TODO: All colors  */
.color {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
}
.color:nth-child(1){
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.color:nth-child(2){
    background-image: linear-gradient(to right top, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
}
.color:nth-child(3){
    background-image: linear-gradient(to right top, #845EC2, #00eaff, #00ffd9);
}
.color:nth-child(4){
    background-image: linear-gradient(to right top, #00C9A7, #C4FCEF, #4cc9b0);
}
.color:nth-child(5){
    background-image: linear-gradient(to right top, #845EC2, #4b4453c4, #c34b36be, #ff8066b5);
}
.color:nth-child(6){
    background-image: linear-gradient(to right top, #845EC2, #4FFBDF, #00C2A8, #008B74);
}
.color:nth-child(7){
    background-image: linear-gradient(to right top, #845EC2, #706082, #008970af, #00C0A3);
}
.color:nth-child(8){
    background-image: linear-gradient(to right top, #845EC2, #B0A8B9, #C34A36, #BEA6A0);
}
.color:nth-child(9){
    background-image: linear-gradient(to right top, #845EC2, #009EFA, #00D2FC, #4FFBDF);
}
.color:nth-child(10){
    background-image: linear-gradient(to right top, #FF8066, #845EC2);
}
.color:nth-child(11){
    background-image: linear-gradient(to right top, #845EC2, #BE36B3, #D43725);
}

.color:nth-child(12){
    background-image: linear-gradient(to right top, #845EC2, #C493FF, #FEFEDF, #00C9A7);
}
#color-plate {
    display: flex;
    gap:5vw;
    row-gap: 2vw;
    flex-wrap: wrap;
    margin: 2.5vw 2.5vw;
}
#h-score{
    font-size: 1.2vw;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
}
    #sound{
        padding: 2vw 4vw 2vw 4vw;
    }
    #sound>h2{
        color:#fff;
        font-size: 2vw;
        margin-left: 1vw;
    }
    #icon{
        font-size: 2vw;
    }
    .sound-bar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input{
    -webkit-appearance: none;
    outline: none;
    width: 90vw;
    height: 10px;
    background: #d1d1d1;
    border-radius: 20px;
    margin-right: 2vw;
    background: rgb(30, 239, 190);
    }
    input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 30px;
    height: 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, rgb(208, 0, 255),rgba(174, 0, 255, 0.754),blue);
    }

/* breakpoint */
@media (max-width:1140px) {
    .reload {
    z-index: 99;
    position: absolute;
    right: 2vw;
    top: 2vh;
    width: 15vw;
    height: 4vh;
    font-size: 2vw;
    border: 1px solid #000;
    border-radius:10px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    background-color: #ffffff4a;
    backdrop-filter: blur(9px);
}
}

@media (max-width:600px) {
    #main-box{
        height: 90%;
        width: 90%;
    }
    #panel-top{
        height: 30px;
        justify-content: space-around;
    }
    #panel-top>h2{
        gap: 2px;
        font-size: large;
    }
    .number,
    .timer,
    .score{
        width: 60px;
        height: 20px;
        font-size: 2.2vw;
        display: flex;
        align-items: center;
    }
    #panel-bottom{
        padding: 9px 5px;
        height: calc(100% - 30px);
    }
    #panel-bottom .bubble{
        font-size: 4vw;
        height: 30px;
        width: 30px;
    }
    #loader-template>#loader {
        height: 70%;
        width: 80%;
    }
    .game-start>h1 {
        font-size: 7vw;
        -webkit-text-stroke-width: 1.2px;
    }
    .game-start>h2 {
        font-size: 4vw;
        color: #000;
        padding-bottom: 20px;
    }
    #loader h3 {
    display: flex;
    margin-top: 5px;
    gap: 0px;
    color: #000;
    position: absolute;
    bottom: 3vh;
    font-size: 3vw;
}
.game-start button {
    bottom: 10vh;
    width: 70%;
    height: 15vw;
    color:#fff;
    font-size: 7vw;
}
.reload {
    z-index: 99;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0.5vh;
    width: 55vw;
    height: 4vh;
    font-size: 3vw;
    letter-spacing: 1.2vw;
    border: 1px solid #000;
    border-radius:10px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    background-color: #ffffff4a;
    backdrop-filter: blur(9px);
}
}
@media (max-width:550px){
    #main-box{
        height: 90%;
        width: 90%;
    }
    #panel-top{
        height: 100px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5vw;
    }
    #panel-top>h2{
        gap: 2px;
        font-size: large;
    }
    #panel-bottom{
        padding: 9px 5px;
        height: calc(100% - 100px);
    }
    .number, .timer, .score {
        width: 30vw;
        height: 7vw;
        font-size: 5vw;
        display: flex;
        align-items: center;
    }
    #loader h3 {
    display: flex;
    margin-top: 5px;
    gap: 0px;
    color: #000;
    position: absolute;
    bottom: 4vh;
    font-size: 3.7vw;
}
 .game-start{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
 #loader-template>#loader {
    height: 50%;
    width: 80%;
}
    .game-start>h2 {
        font-size: 5vw;
        color: #000;
        margin-bottom: 15vw;
    }
    .game-start button {
    bottom: 10vh;
    width: 70%;
    height: 15vw;
    color:#fff;
    font-size: 7vw;
}
    .game-start>h1{
    font-size: 7vw;
    -webkit-text-stroke-width: 1px;
    margin-bottom: 15vw;
    }
    .overlay{
        top:-30%;
        left: 20%;
    }
    #setiing-div{
       height: 140vw;
       width: 90vw;
       top: 50%;
    }
    #color-plate{
        margin: 10vw 4vw 0vw 4vw;
        gap: 9vw;
        row-gap: 3vw;
    }
    .color {
    height: 80px;
    width: 80px;
    }
    #setiing-div>h3{
        font-size: 4vw;
    }
    #h-score{
        font-size: 4vw;
        margin-bottom: 10vw;
    }
    .game-start button {
    bottom: 10vh;
    width: 70%;
    height: 15vw;
    color:#fff;
    font-size: 7vw;
}
    .game-start button:hover {
    animation: none;
    width: 70%;
    letter-spacing: 2vw;
    }
    #game-head{
        height: 26vw;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #game-heading{
        font-size: 7.5vw;
    }
    #setting{
        font-size: 7vw;
    }
    #sound{
        padding: 4vw 9vw 2vw 9vw;
    }
    #sound>h2{
        color:#fff;
        font-size: 5vw;
        margin-left: 1vw;
    }
    #icon{
        font-size: 7vw;
    }
    .sound-bar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sound-bars{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #panel-error{
        top: 89%;
        z-index: 1;
        width: 80%;
        height: 8vw;
    }
    #panel-error>h2{
        font-size: 5vw;
        color: #fff;
        margin-top: 1vw;
    }
    #panel-error>h2>img{
        height: 3.5vw;
    }
    input{
    -webkit-appearance: none;
    outline: none;
    width: 90vw;
    height: 10px;
    background: #d1d1d1;
    border-radius: 20px;
    margin-right: 2vw;
    background: rgb(30, 239, 190);
    }
    input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 30px;
    height: 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, rgb(208, 0, 255),rgba(174, 0, 255, 0.754),blue);
    }
}